<div class = "container-fluid">

  <div class="row">
    <div class="col">
      <h1>Your Inbox:</h1>
      <table class="table">
      <% if @host %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>From</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% if Message.receiver[@host.username] %>
              <% Message.receiver[@host.username].each do |message| %>
                <tr>
                  <td><%= link_to message.title, message_path(message) %></td>
                  <td><%= message.content[0..20] %></td>
                  <td><%= Entertainer.find(message.entertainer_id).username %></td>
                  <td><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% else %>
          <thead><tr>
            <th>Title</th>
            <th>Message</th>
            <th>From</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% if Message.receiver[@entertainer.username] %>
              <% Message.receiver[@entertainer.username].each do |message| %>
                <tr>
                  <td><%= link_to message.title, message_path(message) %></td>
                  <td><%= message.content[0..20] %></td>
                  <td><%= Host.find(message.host_id).username %></td>
                  <td><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div> <!-- close column -->

    <div class="col">
      <h1>Your Outbox:</h1>
      <table class="table">
      <% if @host %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>To</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% if Message.sender[@host.username] %>
              <% Message.sender[@host.username].each do |message| %>
                <tr>
                  <td><%= link_to message.title, message_path(message) %></td>
                  <td><%= message.content[0..20] %></td>
                  <td><%= Entertainer.find(message.entertainer_id).username %></td>
                  <td><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% else %>
          <thead><tr>
            <th>Title</th>
            <th>Message</th>
            <th>To</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% if Message.sender[@entertainer.username] %>
              <% Message.sender[@entertainer.username].each do |message| %>
                <tr>
                  <td><%= link_to message.title, message_path(message) %></td>
                  <td><%= message.content[0..20] %></td>
                  <td><%= Host.find(message.host_id).username %></td>
                  <td><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div> <!-- close column -->
  </div> <!-- close row -->

</div> <!-- close container -->
