<div class = "container-fluid>">

  <div>
    <h1>Your Inbox:</h1>
    <table>
    <% if @host %>
        <thead><tr>
          <th>Title</th>
          <th>Message</th>
          <th>From</th>
          <th>Delete</th>
        </tr></thead>
        <tbody>
          <% if Message.sender[@host.username] %>
            <% Message.sender[@host.username].each do |message| %>
              <tr>
                <th><%= link_to message.title, message_path(message) %></th>
                <th><%= message.content[0..140] %></th>
                <th><%= Entertainer.find(message.entertainer_id).username %></th>
                <th><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% else %>
        <thead><tr>
          <th>Title</th>
          <th>Message</th>
          <th>From</th>
          <th>Delete</th>
        </tr></thead>
        <tbody>
          <% if Message.sender[@entertainer.username] %>
            <% Message.sender[@entertainer.username].each do |message| %>
              <tr>
                <th><%= link_to message.title, message_path(message) %>
                <th><%= message.content[0..140] %></th>
                <th><%= Host.find(message.host_id).username %></th>
                <th><%= form_for message, method: :delete do |f| %><%= f.hidden_field :id %><%= f.submit 'Delete' %><% end %></th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    <% end %>
    </table>
  </div>



</div>
