<div class = "container-fluid">

  <%= link_to 'New Message', new_message_path, class: "btn btn-primary" %>
  <div class="sm-top-buffer"></div>

  <div class="row">
    <div class="col">
      <h1>Your Inbox:</h1>
      <table class="table">
      <% if @host %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>From</th>
            <th>Reply</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% @messages.select {|m| m.receiver == @host.username}.each do |message| %>
              <tr>
                <td class="align-middle"><%= link_to message.title, message_path(message) %></td>
                <td class="align-middle"><%= message.content[0..20] %></td>
                <td class="align-middle"><%= Entertainer.find(message.entertainer_id).username %></td>
                <td class="align-middle"><%= form_tag "/reply/#{message.id}", method: :get do |f| %><%= submit_tag 'Reply', class: "btn btn-primary" %><% end %></td>
                <td class="align-middle"><%= form_for message, method: :delete do |f| %><%= f.submit 'Delete', class: "btn btn-danger" %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>From</th>
            <th>Reply</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% @messages.select {|m| m.receiver == @entertainer.username}.each do |message| %>
              <tr>
                <td class="align-middle"><%= link_to message.title, message_path(message) %></td>
                <td class="align-middle"><%= message.content[0..20] %></td>
                <td class="align-middle"><%= Host.find(message.host_id).username %></td>
                <td class="align-middle"><%= form_tag "/reply/#{message.id}", method: :get do |f| %><%= submit_tag 'Reply', class: "btn btn-primary" %><% end %></td>
                <td class="align-middle"><%= form_for message, method: :delete do |f| %><%= f.submit 'Delete', class: "btn btn-danger" %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div> <!-- close column -->

    <div class="col">
      <h1>Your Outbox:</h1>
      <table class="table">
      <% if @host %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>To</th>
            <th>Reply</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% @messages.select {|m| m.sender == @host.username}.each do |message| %>
              <tr>
                <td class="align-middle"><%= link_to message.title, message_path(message) %></td>
                <td class="align-middle"><%= message.content[0..20] %></td>
                <td class="align-middle"><%= Entertainer.find(message.entertainer_id).username %></td>
                <td class="align-middle"><%= form_tag "/reply/#{message.id}", method: :get do |f| %><%= submit_tag 'Reply', class: "btn btn-primary" %><% end %></td>
                <td class="align-middle"><%= form_for message, method: :delete do |f| %><%= f.submit 'Delete', class: "btn btn-danger" %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <thead class="thead-default"><tr>
            <th>Title</th>
            <th>Message</th>
            <th>To</th>
            <th>Reply</th>
            <th>Delete</th>
          </tr></thead>
          <tbody>
            <% @messages.select {|m| m.sender == @entertainer.username}.each do |message| %>
              <tr>
                <td class="align-middle"><%= link_to message.title, message_path(message) %></td>
                <td class="align-middle"><%= message.content[0..20] %></td>
                <td class="align-middle"><%= Host.find(message.host_id).username %></td>
                <td class="align-middle"><%= form_tag "/reply/#{message.id}", method: :get do |f| %><%= submit_tag 'Reply', class: "btn btn-primary" %><% end %></td>
                <td class="align-middle"><%= form_for message, method: :delete do |f| %><%= f.submit 'Delete', class: "btn btn-danger" %><% end %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div> <!-- close column -->
  </div> <!-- close row -->

</div> <!-- close container -->
