<div class="container">

  <div class="row justify-content-center">
    <div class="card" style="width: 850px">
      <div class="card-body">
        <h4 class="card-title"><%= @message.title %></h4>
        <h6 class="card-subtitle mb-2 text-muted">To: <%= @message.receiver %></h6>
        <h6 class="card-subtitle mb-2 text-muted">From: <%= @message.sender %></h6>
        <p class="card-text"><%= @message.content %></p>
        <% if @host %>
          <%= render 'host_show_buttons' %>
        <% else %>
          <%= render 'entertainer_show_buttons' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
