
<div>
  <% if @entertainer.errors.any? %>
    <div style="width: 35%; margin: 0 auto;">
      <h2>There were some errors</h2>
      <ul>
      <% @entertainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 35%; margin: 0 auto;">
    <h1>Create an Entertainer Account</h1>
  <%= form_for @entertainer do |f| %>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %><br><br>
    <%= f.label 'Job Type: ' %>
    <%= f.collection_select :job_type, Entertainer.job_types, :to_s, :to_s %><br><br>
    <%= f.label 'Image: ' %>
    <%= f.text_field :image %><br><br>
    <%= f.label 'Rate: ' %>
    <%= f.text_field :rate %><br><br>
    <%= f.label 'Description of Services: ' %>
    <%= f.text_area :description %><br><br>
    Password: <%= f.password_field :password %><br><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
    <%= f.submit %>
  <% end %>
  <br>
  <br>
  <%= link_to "Already have an account? Log in!", login_path %>
  </div>
</div>
