<div>
  <% if @entertainer.errors.any? %>
    <div style="width: 35%; margin: 0 auto;">
      <ul>
      <% @entertainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 35%; margin: 0 auto;">
    <h1>Create an Entertainer Account</h1>
  <%= form_for @entertainer do |f| %>
    <div><p><%= f.label 'Username: ' %></p>
    <%= f.text_field :username %></div>
    <div><p><%= f.label 'Job Type: ' %></p>
    <%= f.collection_select :job_type, Entertainer.job_types, :to_s, :to_s %></div>
    <div><p><%= f.label 'Image: ' %></p>
    <%= f.text_field :image %></div>
    <div><p><%= f.label 'Rate: ' %></p>
    <%= f.text_field :rate %></div>
    <div><p><%= f.label 'Description of Services: ' %></p>
    <%= f.text_area :description %></div>
    <div><p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p></div>
    <%= f.submit %>
  <% end %>
  </div>
</div>
