<head>
  <%= stylesheet_link_tag    'application', 'sticky-footer-navbar', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- to get footer to appear on bottom -->

  <style>
    .bg-2 {
        /*background-image: url(carnival.png); Dark Blue*/
        background-image: url("https://farm4.staticflickr.com/3323/3636820896_b68c288c24_b.jpg");
        background-size: cover;
        /*color: #ffffff;*/
    }
  </style>

</head>

<body class="bg-2">
  <div class="big-top-buffer"></div>
  <div>
    <% if @host.errors.any? %>
      <div style="width: 35%; margin: 0 auto;">
        <h2>There were some errors</h2>
        <ul>
        <% @host.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div style="width: 35%; margin: 0 auto;">
      <h1>Create a Host Account</h1>
      <%= form_for(@host) do |f| %>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="host[username]">
        </div>
        <br>
        <div class="input-group">
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Profile picture URL" name="host[image]">
        </div>
        <br>
        <div class="input-group">
          <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="host[password]">
        </div>
        <br>
        <div class="input-group">
          <input type="password" class="form-control" placeholder="Confirm password" aria-label="Username" aria-describedby="basic-addon1" name="host[password_confirmation]">
        </div>
        <br>
        <p><%= f.submit class: 'btn btn-primary' %></p>
      <% end %>
      <br>
      <br>
      <%= link_to "Already have an account? Log in!", login_path %>  </div>
  </div>
</body>

<%= render 'layouts/footer' %>
