<div>
  <% if @host.errors.any? %>
    <div style="width: 35%; margin: 0 auto;">
      <h2>There were some errors</h2>
      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 35%; margin: 0 auto;">
    <h1>Create a Host Account</h1>
    <%= form_for(@host) do |f| %>
      <p>Username: <%= f.text_field :username %></p>
      <p>Password: <%= f.password_field :password %></p>
      <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
      <p><%= f.submit %></p>
    <% end %>
    <br>
    <br>
    <%= link_to "Already have an account? Log in!", login_path %>  </div>
</div>
