<head>
  <%= stylesheet_link_tag    'application', 'sticky-footer-navbar', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- to get footer to appear on bottom -->

  <style>
    .bg-2 {
        /*background-image: url(carnival.png); Dark Blue*/
        background-image: url("https://farm4.staticflickr.com/3323/3636820896_b68c288c24_b.jpg");
        background-size: cover;
        /*color: #ffffff;*/
    }
  </style>

</head>

<body class="bg-2">

  <div class="big-top-buffer"></div>

  <div class="container h-100">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-danger flash #{key}" %>
    <% end %>
    <div class="row h-100 justify-content-center align-items-center">
      <div class="form-group">
        <h1>Welcome</h1>
        <%= form_tag login_path do %>
          <div class="input-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Username" name="username">
          </div><br>
          <div class="input-group">
            <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Password" name="password">
          </div><br>
          <div><%= radio_button_tag(:user_type, "Host", true) %>
          <%= label_tag(:host, "Host") %>
          <%= radio_button_tag(:user_type, "Entertainer") %>
          <%= label_tag(:entertainer, "Entertainer") %></div><br>
          <p><%= submit_tag 'Login', class: 'btn btn-primary'%></p>
        <% end %>
        <p>Don't have an account? Sign up as a <%= link_to "host", host_signup_path %> or an <%= link_to "entertainer", entertainer_signup_path %></p>
      </div>
    </div>
  </div>

</body>

<%= render 'layouts/footer' %>
