<h1><%= @course.name %></h1><br>
<h3><%= @course.college.name %></h3><br>
<br>
<br>
<p>Students:</p>
<% @course.students.each do |student| %>
  <li>  <%= student.name %> </li>
<% end %>
<br>
<br>
<%= form_tag course_path(@course), method: "delete", data: {confirm: "Are you sure?"} %>
  <%= submit_tag "Delete #{@course.name}" %>

<%= link_to "Delete artist", @course, method: :delete, data: {confirm: "Are you sure?"} %>
