<div class="container">
  <div class="row justify-content-center">
    <img src= "<%= @entertainer.image %>" alt="<%= @entertainer.username %>'s profile image" class="rounded-circle" width=400px height=400px>
  </div>

  <div class="row justify-content-center">
    <h1><%= @entertainer.username %></h1>
  </div>

  <div class = "row">
    <div class="col" style="padding-left: 150px">
      <h3>Type: <%= @entertainer.job_type %></h3>
      <h3>Hourly Rate: $<%= @entertainer.rate %></h3>
      <h3>About <%= @entertainer.username %>:</h3>
      <p><%= @entertainer.description %></p>
      <% if @entertainer.try(:id) == session[:entertainer_id] %>
        <p><%= link_to 'Edit my profile', edit_entertainer_path(@entertainer), class: "btn btn-primary" %><span style="color: silver;"></p>
      <% else %>
        <p><%= link_to 'Message Me', new_message_path, class: "btn btn-primary" %></p>
      <% end %>
    </div> <!-- close column -->

<!-- list of events -->

    <div class="col" style="padding-left: 150px">
      <h3>Events I Have Performed At:</h3>
      <% @entertainer.events.select {|e| e.closed_status == true}.each do |event| %>
        <ul>
          <li><%= link_to event.name, event_path(event) %></li>
        </ul>
      <% end %>
    </div> <!-- close column -->


  </div> <!-- close row -->
</div>
