<div class="container">
  <div class="row justify-content-center">
    <img src= "<%= @host.image %>" alt="<%= @host.username %>'s profile image" class="rounded-circle" width=400px height=400px>
  </div>

  <div class="row justify-content-center">
    <h1><%= @host.username %></h1>
  </div>

  <div class="row justify-content-center">
    <div class="col" style="padding-left: 150px">
      <h3><%= @host.username %>'s Events</h3>
      <ul>
        <% @host.events.each do |ev| %>
          <li><%= link_to ev.name, event_path(ev) %></li>
        <% end %>
      </ul>
    </div> <!-- close host's event column -->

    <div class="col" style="padding-left: 150px">
      <h3>Entertainers used by <%= @host.username %></h3>
      <ul>
        <% @host.entertainers.uniq.each do |entertainer| %>
          <li><%= link_to entertainer.username, entertainer_path(entertainer) %></li>
        <% end %>
      </ul>
    </div> <!-- close host's entertainers column -->
  </div> <!-- close row -->

  <div class="row justify-content-center">
      <% if @host.try(:id) == session[:host_id] %>
        <!-- <p><%= link_to 'Delete my profile',url_for(action: :destroy, id: @host.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"%></p> -->
      <% else %>
        <p><%= link_to 'Message', new_message_path, class: "btn btn-primary" %></p>
      <% end %>
  </div>

</div>
