      <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= form_for @event do |f| %>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Event Name" aria-label="Username" aria-describedby="basic-addon1" name="event[name]">
        </div><br>
        <div class="input-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Place description here" name="event[description]"></textarea>
        </div><br>
        <div class="input-group">
          <%= f.date_field :date, class: 'form-control' %></div><br>
        <input id="hidden" type="hidden" name="event[host_id]" value="<%= session[:host_id] %>">
        <p><%= f.submit "Create Event", class: 'btn btn-primary' %></p>

      <% end %>
