<div class="container">

  <!-- heading -->
  <div class="row justify-content-center">
    <h1>Events</h1>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-danger flash #{key}" %>
    <% end %>
  </div>

  <div class="big-top-buffer"></div>

  <!-- search function -->
  <div class="row justify-content-center">
    <%= form_tag("/search", method: "post") do %>
      <div class="form-group">
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q, '', class: 'form-control') %></div>
      <%= submit_tag("Search", class: 'btn btn-primary', style: 'margin-left: 55px') %>
    <% end %>
  </div>

  <div class="big-top-buffer"></div>

  <div class="row justify-content-center">
    <h3>Open Events:</h3>
  </div>

  <div class="sm-top-buffer"></div>

  <!-- table of events -->
  <div class="row justify-content-center">
    <% if @entertainer %>
        <%= form_for @entertainer, url: {action: "update_events", controller: "entertainers"} do |f| %>
        <table class="table">
          <thead class="thead-default"><tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <th>City</th>
            <th>State</th>
          </tr></thead>
          <% @events.select {|e| e.closed_status == false}.each do |event| %>
            <tbody>
              <tr>
                <td><%= f.check_box :events, {name: 'entertainer[event_ids][]', checked: (true if @entertainer.events.include?(event))}, "#{event.id}", false %> <!-- first argument is method you'd be calling on @entertainer, then a hash of optional arguments, then the value that will be passed back, then the value if unchecked -->
                <%= f.label :events, "#{link_to(event.name, event_path(event))}".html_safe %></td>
                <td><%= event.description.length >= 50? event.description[0..46] + "..." : event.description %></td>
                <td style="width: 200px"><%= event.date.strftime("%B %d, %Y") %></td>
                <td><%= event.duration %></td>
                <td><%= event.city %></td>
                <td><%= event.state %></td>
              <% end %> <!-- ends iterations -->
              </tr>
          </tbody>
        </table>
        <div class="row justify-content-center"> <!-- center submit button -->
          <%= f.submit 'Choose These Events', class: 'btn btn-primary' %>
        </div>
        <div class="big-top-buffer"></div>
      <% end %> <!-- ends form -->
    <% end %> <!-- ends if -->

    <% if @host %>
      <table class="table">
        <thead class="thead-default"><tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Duration</th>
          <th>City</th>
          <th>State</th>
        </tr></thead>
          <% @events.select {|e| e.closed_status == false}.each do |event| %>
          <tbody>
            <tr>
              <td><%= link_to event.name, event_path(event) %></td>
              <td><%= event.description.length >= 50? event.description[0..46] + "..." : event.description %></td>
              <td style="width: 200px"><%= event.date.strftime("%B %d, %Y") %></td>
              <td><%= event.duration %></td>
              <td><%= event.city %></td>
              <td><%= event.state %></td>
            </tr>
          <% end %> <!-- ends interation -->
        </tbody>
      <% end %> <!-- ends if -->
    </table>
  </div>

</div>
