<!DOCTYPE html>
<html>
  <head>
    <title>Mod2FinalProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'sticky-footer-navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .bg-2 {
          /*background-image: url(carnival.png); Dark Blue*/
          background-image: url("https://farm4.staticflickr.com/3323/3636820896_b68c288c24_b.jpg");
          background-size: cover;
          /*color: #ffffff;*/
      }
    </style>

  </head>

  <body class="bg-2">
    <%= render 'layouts/nav' %>    <br>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
